{% extends 'base.html.twig' %}

{% block title %}Agenda Consultation{% endblock %}
{% block nav %}

<nav class="uk-navbar-container" uk-navbar>
    <div >
        {% if app.session.get("cabinet") %}
            <a class="uk-navbar-center" href="{{path("home_detail",{"id":app.session.get("cabinet").getId()})}}"><h1>Accueil<h1></a>
        {% endif %}
    </div>
    {% set class= "" %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set class= "admin" %}
    {% endif %}
    <div class="uk-navbar-right">
        Connecté en tant que : <span class="username {{class}}"> {{app.user.username}}</span>
         <a href="{{path('app_logout')}}"><span uk-icon="icon:close; ratio: 1.5"></span></a>
    </div>
</nav>
{% endblock %}
{% block body %}
    <h1>Agenda des consultations</h1>

    <a href="{{ path('consult_calendar_new') }}">Nouvelle consultation</a>
    <div id="calendarBox">
        <div id="eventBox">
            <div id="#ffbbcc"  class="fc-event fc-draggable rose">Nourisson</div>
            <div id="#9ebfff" class="fc-event fc-draggable bleu" >Enfant</div>
            <div id="#b0f2b6" class="fc-event fc-draggable vert">Adulte</div>
            <div id="red" class="fc-event fc-draggable rouge">Sportif</div>
        </div>
        <div id="calendar-holder"></div>
    </div>

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        function saveConsult(event) {
            jQuery.post(
                '/event/save', 
                {
                    title: event.title,
                    start: event.start,
                    end:   event.end
                }
            );
        }
        document.addEventListener('DOMContentLoaded', function() {
            
            var Calendar = FullCalendar.Calendar;
            var Draggable = FullCalendarInteraction.Draggable;
            var calendarEl = document.getElementById('calendar-holder');
            let draggableEl = document.getElementById('eventBox');
         
            new Draggable(draggableEl, {
                            itemSelector: '.fc-event',
                            eventData: function(eventEl) {
                            return {
                                    title: eventEl.innerText,
                                    duration: '01:00' ,
                                    color: eventEl.id  ,
                                    textColor: "black"                    
                                };
                            },
                           
                            
                        });

            var calendar = new Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                editable: true,
                droppable: true,
                forceEventDuration:true,
                firstDay: 1,
                eventColor: 'blue',
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'Europe/Paris',
                buttonText: {
				today: 'aujourd\'hui',
				month: 'mois',
				week: 'semaine',
				day: 'jour'
                },
                eventReceive: function(info){

                    start=moment(info.event.start).utc().format();
                    end  =moment(info.event.end).utc().format();
                    if(info.view.type != "dayGridMonth")
                        $.ajax({
                            type: "POST",
                            url: "save",
                            data: {
                                title: info.event.title,
                                start: start,
                                end:   end
                            },
                            dataType: "json",
                            success: function() {
                                calendar.refetchEvents();
                            }
                        });
                },
                eventDrop: function(info){
                    start=moment(info.event.start).utc().format();
                    end  =moment(info.event.end).utc().format();
                    id = info.event.url.split('/')[2];
                    
                    if(info.view.type != "dayGridMonth")
                        $.ajax({
                            type: "POST",
                            url: "modify/"+id,
                            data: {
                                title: info.event.title,
                                start: start,
                                end:   end,
                            },
                            dataType: "json",
                            success: function() {
                                calendar.refetchEvents();
                            }
                        });

                },
                eventRender: function(info){
          
                    info.el.style.color = "black"
                    info.el.style.fontWeight = "bold"
                    info.el.style.border = "none"

                    if(info.event.title == "Nourisson")
                        info.el.style.backgroundColor = "#ffbbcc"

                    else if(info.event.title == "Enfant")
                        info.el.style.backgroundColor = "#9ebfff"

                    else if(info.event.title == "Adulte")
                        info.el.style.backgroundColor = "#b0f2b6"

                    else if(info.event.title == "Sportif")
                    {
                        info.el.style.backgroundColor = "red"
                        info.el.style.color = "white"
                    }
                    else
                        info.el.style.color = "white"
                }
            });
            
            calendar.render();

            
        });
    </script>
{% endblock %}
