{% extends 'base.html.twig' %}

{% block title %}ConsultCalendar index{% endblock %}

{% block body %}
    <h1>ConsultCalendar index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consult_calendar in consult_calendars %}
            <tr>
                <td>{{ consult_calendar.id }}</td>
                <td>{{ consult_calendar.title }}</td>
                <td>{{ consult_calendar.startDate ? consult_calendar.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ consult_calendar.endDate ? consult_calendar.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('consult_show', {'id': consult_calendar.id}) }}">show</a>
                    <a href="{{ path('consult_calendar_edit', {'id': consult_calendar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('consult_calendar_new') }}">Create new</a>
{% endblock %}
