{% extends 'base.html.twig' %}

{% block title %}ConsultCalendar{% endblock %}

{% block body %}
    <h1>ConsultCalendar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consult_calendar.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ consult_calendar.title }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ consult_calendar.startDate ? consult_calendar.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ consult_calendar.endDate ? consult_calendar.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('agenda_list') }}">back to list</a>

    <a href="{{ path('consult_calendar_edit', {'id': consult_calendar.id}) }}">edit</a>

    {{ include('consult_calendar/_delete_form.html.twig') }}
{% endblock %}
