{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block nav %}

<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
        {% for cabinet in cabinets %}
            {% if cabinet.id == app.session.get("cabinet").getId() %}
                <li class="uk-active">
            {% else %}
                <li>
            {% endif %}
                <a href="{{path("home_detail",{"id":cabinet.id})}}">{{cabinet.libelle}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div >
        <a class="uk-navbar-center" href="{{path("home_detail",{"id":app.session.get("cabinet").getId()})}}"><h1>Accueil<h1></a>
    </div>
    {% set class= "" %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set class= "admin" %}
    {% endif %}
    <div class="uk-navbar-right">
        Connecté en tant que : <span class="username {{class}}"> {{app.user.username}}</span>
         <a href="{{path('app_logout')}}"><span uk-icon="icon:close; ratio: 1.5"></span></a>
    </div>
</nav>
{% endblock %}
{% block body %}
{% set error = app.request.query.get("err")%}
    <div id="error">{% if error == 1 %}Ce cabinet n'existe pas 
                     {% elseif error == 2 %}Vous ne pouvez pas supprimer un patient qui a des consultations

                     {% endif %}
        </div>
    <div id="aTop">
        <a onclick="return checkCabinet()" href="{{path('patient_add',{'idc':app.session.get("cabinet").getId()})}}"><span uk-icon="icon: plus-circle; ratio: 1.5"></span> Ajouter un nouveau patient</a>
        {% if is_granted('ROLE_ADMIN') %}
                <a class="admin" href="{{path("admin_cabinet")}}"> <span uk-icon="pencil"></span>Modifier les cabinets</a>
                <a class="admin" href="{{path("admin_utilisateur")}}"> <span uk-icon="pencil"></span>Modifier les utilisateurs</a>       
        {% endif %}
    </div>
    <h2 class="uk-heading-line uk-text-center"><span>Liste des patients ({{patients.getTotalItemCount}})</span></h2>
    {{ form_start(form) }}
        <!--<button type="submit">filtrer</button>-->
    {{ form_end(form) }}
    <table class="uk-table-striped uk-table-hover uk-table-small uk-table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Date de dernière consultation</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Suppression</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            
            <tr class="trClic" id="{{patient.id}}">
                <td><a id="aClic{{patient.id}}" onclick="return checkCabinet()" href="{{path('patient_edit',{'idc':app.session.get("cabinet").getId(),'id':patient.id})}}">{{patient.nom}}</a></td>
                <td>{{patient.prenom}}</td>
                <td>{% if is_granted('ROLE_ADMIN') %}
                        {{patient.numFixe}}
                    {% endif %}</td>
                <td>{% if is_granted('ROLE_ADMIN') %}
                        {{patient.adresse ~" "~ patient.codePostal ~" "~ patient.ville}}
                    {% endif %}</td>
                {% if patient.GetLastConsultationDate %}
                    {% set dateConsult =  patient.getLastConsultationDate.getDateConsult.format("d/m/Y") %}
                    {% set tdclass = "" %}
                {% else %}
                    {% set dateConsult =  "Pas de consultation" %}
                    {% set tdclass = "dimTD" %}
                {% endif %}
                    <td class="{{tdclass}}">{{dateConsult}}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td id="tdDelete">
                    {% if not patient.GetLastConsultationDate %}
                        <a class="admin" href="{{path('patient_delete_full',{'id':patient.id})}}"><span uk-icon="trash"></span></a>
                    {% endif %}
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
   
    <div class="bootstrap">
        {{ knp_pagination_render(patients) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        function checkCabinet(){
            var classCabinet = document.getElementsByClassName("uk-active") ;
            if(!classCabinet.length)
            {
                document.getElementById("error").innerHTML = "Veuillez selectionner un cabinet"
                return false;
            }
            else
                return true;
        }
        var tr = document.getElementsByClassName("trClic") ;
        [].forEach.call(tr,function(opt){
            opt.addEventListener('click', function (event) {
            if(checkCabinet())
                window.location.href = document.querySelector('#aClic'+opt.id);
            });
        });

       
    </script>

{% endblock %}