{% extends 'base.html.twig' %}
{% block title %}Liste Cabinet{% endblock %}
{% block nav %}
{% set class= "" %}
{% if is_granted('ROLE_ADMIN') %}
    {% set class= "admin" %}
{% endif %}
<nav id="navbar" class="uk-navbar-container" uk-navbar>
    <div id="navbarCenter">
        <a id="homeFull" href="{{path("home_detail",{"id":app.session.get("cabinet").getId()})}}"><h1>Accueil</h1></a>
        <a id="homeSmall" href="{{path("home_detail",{"id":app.session.get("cabinet").getId()})}}"><span uk-icon="icon:home;ratio: 2"></span></a>
    </div>
    <div id="navbarRight">
        <span id="connect">Connecté en tant que : </span><span class="username {{class |e}}"> {{app.user.username |e}}</span>
        <a href="{{path('app_logout')}}"><span uk-icon="icon:close; ratio: 1.5"></span></a>
    </div>
</nav>
{% endblock %}
{% block body %}
<a href="{{path('admin_add_cabinet')}}"><span uk-icon="icon: plus-circle; ratio: 1.5"></span> Ajouter un nouveau cabinet</a>
<table class="uk-table-striped uk-table-hover uk-table-small uk-table">
        <thead>
            <tr>
                <th>Nom du cabinet</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for cabinet in cabinets %}
            
            <tr>
                <td>{{cabinet.libelle}}</td>
                <td><a class="admin" href="{{path('admin_edit_cabinet',{'id':cabinet.id})}}"><span uk-icon="pencil"></span></a></td>
                <td><a class="admin" href="{{path('admin_delete_cabinet',{'id':cabinet.id})}}"><span uk-icon="trash"></span></a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}
