{% extends 'base.html.twig' %}
{% block title %}Liste Utilisateurs{% endblock %}
{% block nav %}

<nav class="uk-navbar-container" uk-navbar>
    <div >
        <a class="uk-navbar-center" href="{{path("home_detail",{"id":0})}}"><h1>Accueil<h1></a>
    </div>
    {% set class= "" %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set class= "admin" %}
    {% endif %}
    <div class="uk-navbar-right">
        Connecté en tant que : {% if is_granted('ROLE_ADMIN') %}
            <a class="admin" href="{{path("admin_utilisateur")}}"><span uk-icon="pencil"></span></a>
        {% endif %}<span class="username {{class}}"> {{app.user.username}}</span>
         <a href="{{path('app_logout')}}"><span uk-icon="icon:close; ratio: 1.5"></span></a>
    </div>
</nav>
{% endblock %}
{% block body %}
<table class="uk-table-striped uk-table-hover uk-table-small uk-table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            
            <tr>
                <td>{{user.username}}</td>
                <td><a class="admin" href="{{path('admin_edit_utilisateur',{'id':user.id})}}"><span uk-icon="pencil"></span></a></td>
                <td><a class="admin" href="{{path('admin_delete_utilisateur',{'id':user.id})}}"><span uk-icon="trash"></span></a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}
