{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block nav %}

<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
        {% for cabinet in cabinets %}
            {% if cabinet.id == nav %}
                <li class="uk-active">
            {% else %}
                <li>
            {% endif %}
                <a href="{{path("home_detail",{"id":cabinet.id})}}">{{cabinet.libelle}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div >
        <a class="uk-navbar-center" href="{{path("home_detail",{"id":1})}}"><h1>Accueil<h1></a>
    </div>
    
    <div class="uk-navbar-right">
        Connecté en tant que : <strong>{{app.user.username}}</strong> <a href="{{path('app_logout')}}"><span uk-icon="icon:close; ratio: 1.5"></span></a>
    </div>
</nav>
{% endblock %}
{% block body %}
    <a href="{{path('patient_add',{'idc':nav})}}"><span uk-icon="icon: plus-circle; ratio: 1.5"></span> Ajouter un nouveau patient</a>
    <h2 class="uk-heading-line uk-text-center"><span>Liste des patients ({{patients | length}})</span></h2>
   
    <table class="uk-table-striped uk-table-hover uk-table-small uk-table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Telephone</th>
            <th>Adresse</th>
            <th>Date de dernière consultation</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <td><a href="{{path('patient_edit',{'idc':app.request.attributes.get("_route_params").id,'id':patient.id})}}">{{patient.nom}}</a></td>
            <td>{{patient.prenom}}</td>
            <td>{{patient.numFixe}}</td>
            <td>{{patient.adresse ~" "~ patient.codePostal ~" "~ patient.ville}}</td>
            <td>{{patient.lastConsult}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
