<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bienvenu{% endblock %}</title>
        {% block stylesheets %}
            <!-- UIkit CSS  -->
           
            <link rel="stylesheet" href="{{ asset('css/uikit.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/fullcalendar/main.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/fullcalendar/daygrid.main.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/fullcalendar/timegrid.main.min.css') }}">
                   
            
            <style type="text/css">
            @font-face {
                font-family: 'Roboto';
                src: url({{ asset('font/Roboto-Regular.ttf') }}) format('sans-serif');
            }
            @font-face {
                font-family: 'Noto Sans JP';
                src: url({{ asset('font/NotoSansJP-Regular.otf') }}) format('sans-serif');
            }
            @font-face {
                font-family: 'Noto Sans JP Medium';
                src: url({{ asset('font/NotoSansJP-Medium.otf') }}) format('sans-serif');
            }
            </style>
        {% endblock %}
    </head>
    <body>
        <!--<main class="uk-container uk-container-large">-->
        <main>
            {% block nav %}
            {% endblock %}
            {% block body %}
            {% endblock %}
        </main>
        {% block javascripts %}
            
        
            <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
            <!-- UIkit JS -->
            <script src="{{ asset('js/uikit.min.js') }}"></script>
            <script src="{{ asset('js/uikit-icons.min.js') }}"></script>
            <script src="{{ asset('js/fullcalendar/main.min.js') }}"></script>
            <script src="{{ asset('js/fullcalendar/interaction.main.min.js') }}"></script>
            <script src="{{ asset('js/fullcalendar/daygrid.main.min.js') }}"></script>
            <script src="{{ asset('js/fullcalendar/timegrid.main.min.js') }}"></script>
            
            <script src="{{ asset('js/moment.js') }}"></script>
            <script src="{{ asset('js/moment-timezone.js') }}"></script>
            
            
        {% endblock %}
    </body>
</html>
